<div id="posts-page">
    <div id="user-post">
        <label for="post-title">Post title</label>
        <input type="text" id="post-title"/><br/>
        <label for="post-text">Your post</label><br/>
        <textarea name="" id="post-text" cols="20" rows="10"></textarea>
        <button id="btn-post">Post</button><br/>
        <label for="sort-by">Sort by: </label>
        <select name="sort-by" id="sort-by">
            <option value="1" selected>date</option>
            <option value="2">title</option>
        </select>
        <label for="sort"> and sort: </label>
        <select name="sort" id="sort">
            <option value="1" selected>ascending</option>
            <option value="2">descending</option>
        </select>
        <button id="btn-get-posts">Get Posts</button>
    </div>
    <div id="all-posts"></div>
</div>