html,
body,
div,
section,
nav,
header,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
body div {
  display: inline-block;
  width: 300px;
  margin: auto auto;
  background-color: red;
}
body div nav {
  background-color: pink;
  display: inline-block;
}
body div nav ul {
  list-style-type: 0;
  display: inline-block;
}
body div section {
  display: inline-block;
  background-color: blue;
}
