doctype
html
    head
        title Telerik Academy Courses
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/css/site.css")
    body(ng-app="app")
        header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/") JS Apps Croud Share Posts
    section

    footer
        p.text-center
            | &copy; Telerik Academy 2014

