html, body, div, header, section, article, footer, aside, nav, ul, li, form, label, input, h1, h2, h3, p {
  margin: 0;
  padding: 0; }

html, body {
  width: 1440px;
  height: 100%;
  font-size: 14px;
  background-color: #9215f2; }

.clearfix, body > header div#header-container {
  zoom: 1; }
  .clearfix:after, body > header div#header-container:after {
    content: "";
    display: block;
    clear: both;
    height: 0; }

body {
  color: white; }
  body > header {
    background-color: red;
    padding: 10px 10px 20px 10px;
    background: #d593ff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #d593ff 0%, #c78cf3 15%, #9215f2 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d593ff), color-stop(15%, #c78cf3), color-stop(100%, #9215f2));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d593ff 0%, #c78cf3 15%, #9215f2 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d593ff 0%, #c78cf3 15%, #9215f2 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d593ff 0%, #c78cf3 15%, #9215f2 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #d593ff 0%, #c78cf3 15%, #9215f2 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
    /* IE6-8 */ }
    body > header div#header-container div#logo-container {
      float: left;
      margin: 12px 3px; }
      body > header div#header-container div#logo-container h1 a img {
        height: 70px; }
    body > header div#header-container div#reg-form-container {
      float: right; }
      body > header div#header-container div#reg-form-container form {
        margin-top: 12px;
        margin-right: 75px; }
        body > header div#header-container div#reg-form-container form div {
          text-align: right; }
          body > header div#header-container div#reg-form-container form div label {
            font-size: 0.9em;
            margin: 3px; }
          body > header div#header-container div#reg-form-container form div input {
            margin: 5px;
            width: 125px;
            height: 18px;
            border: 1px solid #7b41a7;
            border-radius: 15px;
            background-color: #b35ef3; }
        body > header div#header-container div#reg-form-container form button {
          margin-top: -1px;
          padding: 5px 9px;
          font-size: 0.9em;
          font-weight: bold;
          color: white;
          border: 1px outset #7b41a7;
          border-radius: 10px;
          background-color: #b35ef3; }
  body nav {
    margin-top: 16px;
    margin-left: 21px;
    margin-right: 315px; }
    body nav ul {
      list-style-type: none;
      padding: 0 15px;
      border: 1px solid #210736;
      border-radius: 15px; }
      body nav ul li {
        position: relative;
        display: inline-block; }
        body nav ul li > ul {
          display: none; }
        body nav ul li a {
          font-size: 1.3em;
          padding: 11px 6px;
          display: block;
          text-decoration: none;
          color: white; }
        body nav ul li ul {
          position: absolute;
          top: 20px;
          left: 0;
          width: 200px;
          background: #d593ff;
          /* Old browsers */
          background: -moz-linear-gradient(top, #d593ff 0%, #c78cf3 25%, #9215f2 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d593ff), color-stop(25%, #c78cf3), color-stop(100%, #9215f2));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #d593ff 0%, #c78cf3 25%, #9215f2 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #d593ff 0%, #c78cf3 25%, #9215f2 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #d593ff 0%, #c78cf3 25%, #9215f2 100%);
          /* IE10+ */
          background: linear-gradient(to bottom, #d593ff 0%, #c78cf3 25%, #9215f2 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
          /* IE6-8 */ }
          body nav ul li ul li {
            display: block; }
        body nav ul li:hover > ul {
          display: inline-block; }
  body section {
    width: 75%;
    float: left;
    color: black;
    font-size: 0.9em; }
    body section article {
      margin: 20px 18px;
      padding: 18px;
      border: 1px solid black;
      border-radius: 15px;
      color: #eae8fe; }
      body section article header {
        background: none;
        padding: 5px; }
        body section article header h1 {
          font-size: 1.4em;
          padding: 0; }
      body section article footer {
        padding: 5px; }
        body section article footer p {
          font-size: 1.2em;
          text-align: right;
          font-weight: normal; }
          body section article footer p time {
            font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace; }
          body section article footer p a {
            text-decoration: none;
            color: #d4a3f8; }
          body section article footer p:hover {
            text-decoration: underline; }
  body aside {
    float: left;
    width: 20%;
    margin: 18px; }
    body aside > ul {
      list-style-type: none; }
      body aside > ul > li {
        margin: 15px 0;
        padding: 12px 13px;
        border: 1px solid black;
        border-radius: 5px; }
        body aside > ul > li h2 {
          font-size: 1.1em;
          font-weight: bold; }
        body aside > ul > li p {
          margin-top: 10px;
          margin-right: 5px;
          margin-bottom: 10px;
          margin-left: 5px;
          font-size: 12px; }
          body aside > ul > li p a {
            color: #aaaaaa;
            text-decoration: none; }
          body aside > ul > li p strong {
            color: #cccccc;
            font-weight: bold;
            font-style: normal; }
          body aside > ul > li p em {
            color: #cccccc;
            font-weight: normal;
            font-style: italic; }
        body aside > ul > li ul {
          list-style-type: none;
          margin-top: 10px;
          margin-right: 0;
          margin-bottom: 10px;
          margin-left: 0px; }
          body aside > ul > li ul li {
            margin-top: 5px;
            margin-left: 10px;
            margin-bottom: 0px;
            margin-right: 0px;
            background: url(../images/li-dot.png) no-repeat;
            background-position: 0 50%;
            padding-left: 25px; }
  body footer {
    clear: both;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 0.9em;
    text-align: center; }
    body footer p {
      font-size: 1.2em;
      font-weight: bold; }

