body{
background-color: white;
}
table{
border: none;
margin: 10px;
border-spacing:0;
border-collapse:collapse;
}
thead{
border-bottom: thin solid rgb(102, 153, 204);
}
tbody{
border:0;
}
td{
padding: 2px 20px ;
}