html, body, div, sevtion, article, p {
    margin: 0;
    padding: 0;
}
html, body {
    background: black;
}

body {
}

    body #main-container {
        width: 1920px;
        height: 1080px;
        margin: 0 auto;
        background-image: url(http://localhost:1040/Assets/Images/bg-default.jpg);
    }

#nav-section {
    height: 222px;
    width: 1191px;
    margin: 0 auto;
    background-image: url(http://localhost:1040/Assets/Images/header-bg.png);
}

#content {
    position: relative;
    width: 1038px;
    height: auto;
    margin: 0 auto;
}

#top {
    position: absolute;
    top: -50px;
    left: 0;
    width: 1038px;
    height: 125px;
    background: url(http://localhost:1040/Assets/Images/frame-sprite.png);
    background-repeat: no-repeat;
}

#bottom {
    position: absolute;
    bottom: -115px;
    left: 0;
    width: 1038px;
    height: 125px;
    background: url(http://localhost:1040/Assets/Images/frame-sprite.png) 0 -287px;
    background-repeat: no-repeat;
}

#stats {
    margin: 50px auto;
    padding: 10px 17px;
    width: 972px;
    background: url(http://localhost:1040/Assets/Images/frame-sprite-bg.png) 0 -312px;
    background-repeat: repeat-y;
}

#main-content {
    background: rgb(222,222,222);

}